body {
    margin: 0px;
    height: 100%;
    padding: 0%;
    background-color: black;
}
.menu {
    font-family: "Playfair Display", sans-serif;
    background-color: rgb(0, 0, 0);
    width: 100%;
    
    position: fixed;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 2fr;
    align-items: center;
    color: white;
    z-index: 5;

}
.menuitem a {
    text-decoration: none;
    color: white;
}
#nome {
    margin-left: 10vw;
    font-size: 200%;

}
#mundo {
    margin-top: 40vh;
    width: 500px;
}
#contatos {

    padding-top: 40vh;
    padding-left: 10vw;
    color: white;
}

.iconescontato {
    width: 50px;
}
#telacontato {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}